.footer {
  &__inner {
    padding: 0 16px;
  }

  &-info {
    margin-bottom: 40px;

    &__logo {
      padding-left: 36px;
      transform: scale(1.9);
      margin-bottom: 38px;
    }

    &__subtitle {
      font-weight: 400;
      font-size: 18px;
      line-height: 36px;
      color: #747474;
    }
  }

  &-links {
    display: grid;
    grid-template-columns: auto auto;
  }

  &-map,
  &-advantage {

    padding-left: 24px;

    &__title {
      font-size: 24px;
      line-height: 36px;
      color: #000000;
      margin: 0;
      margin-bottom: 30px;
      margin-left: -18px;
    }

    &__item {
      font-weight: 400;
      font-size: 18px;
      line-height: 36px;
      color: #2d76f9;

      &-link {
        text-decoration: none;
        color: #747474;
      }
    }
  }

  &-socials {
    padding-left: 0;

    &__title {
      font-size: 24px;
      line-height: 36px;
      color: #000000;
      margin: 0;
      margin-bottom: 30px;
      margin-left: 10px;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      column-gap: 42px;
    }

    &__item {
      list-style-type: none;
      padding-left: 0;
      

      &-link {
        text-decoration: none;
        color: #2d76f9;
      }
    }
  }
}


@media only screen and (min-width: 1200px){
  .footer {
    &__inner {
      padding: 0 16px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  
    
  
    &-links {
      width: 75%;
      display: grid;
      grid-template-columns: auto auto auto;
    }
  
    &-map,
    &-advantage {
  
      padding-left: 24px;
  
      &__title {
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        margin: 0;
        margin-bottom: 30px;
        margin-left: -18px;
      }
  
      &__item {
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        color: #2d76f9;
  
        &-link {
          text-decoration: none;
          color: #747474;
        }
      }
    }
  
    &-socials {
      padding-left: 0;
  
      &__title {
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        margin: 0;
        margin-bottom: 30px;
        margin-left: 10px;
      }
  
      &__wrapper {
        display: flex;
        align-items: center;
        column-gap: 42px;
      }
  
      &__item {
        list-style-type: none;
        padding-left: 0;
        
  
        &-link {
          text-decoration: none;
          color: #2d76f9;
        }
      }
    }
  }
}