.manage {
  &__inner {
    padding: 50px 32px;
  }

  &-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      background-color: #eef4ff;
      border-radius: 100px;
    }

    &__body {
      &-title {
        margin: 0;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #212121;
      }

      &-subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        text-align: center;
        color: #747474;
      }
    }
  }
}


@media only screen and (min-width: 992px) {
  .manage {
    &__inner {
      padding: 70px 32px;
    }
  
    &-cards {
      display: grid;
      grid-template-columns: auto auto;
      align-items: flex-start;
      row-gap: 50px;
      justify-content: space-around;
    }
  
    &-card {
      width: 387px;
    }
  }
}


@media only screen and (min-width: 1200px) {
  .manage {
  
    &-cards {
      grid-template-columns: auto auto auto;
      align-items: center;
      row-gap: 0;
    }
  }
}
